@using MyFlyer.Web.Models.DataModel;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Merchant Detail";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<div class="row">
    <!-- product -->
    @{
        int i = 0;
    }
    @foreach (var product in Model)
    {
        <div class="col-md-4 col-xs-6">
            <div class="product">
                <div class="product-img">
                    <img src="@product.X_large_image_url" alt="">
                    <div class="product-label">
                        <span class="sale">@product.Discount_percent</span>
                        <span class="new">NEW</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">product category here</p>
                    <h3 class="product-name"><a href="#">@product.DisplayName</a></h3>
                    <h4 class="product-price">@product.CurrentPrice<del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
                                wishlist</span></button>
                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
                                compare</span></button>
                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
                                view</span></button>
                    </div>
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                </div>
            </div>
            <!-- /product -->
        </div>
        i++;
        if (i == 2)
        {
            i = 0;
            <div class="clearfix visible-sm visible-xs"></div>
        }
    }


</div>
